Motherboard

Discharge
- If any daughterboard reports a fault, save to EEPROM the details of the fault & signal the relay board
- Sense current & report over CAN
- Report voltage 
- Calculate battery health
- Report min max avg temps

Charge
- If CAN requests charging, talk to ELCON
- Monitor and report SOC


Daughterboard